html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
  font-size: 1.05rem;
  font-family: 'Lato', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

video {
  cursor: pointer;
}
iframe {
  max-width: 100%;
}
.leaflet-container {
  height: 400px;
  width: 100%;
  z-index: 0;
}


a:active,
a:hover {
  outline-width: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}
 h2,h3,h4 {
   font-weight: 500;
 }

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
